
video {
    position: relative;
    width: 100%;
    top: 0;
    height: auto;
    opacity: 0.8;
}

.videoContainer {
    display: flex;
    border: 100px solid rgb(222, 218, 191);
    border-radius: 10px;
    right: 0;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: -1;
}

.playerChoices {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerChoice {
    border: 2px solid black;
    border-radius: 2px;
    margin: 10px;
    font-size: 15px;
    padding: 5px;
    width: auto;
    background-color: white;
    color: black;
}