
.videoContainer video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
    object-fit: cover;  
}

#textBox {
    display: flex;
    color: rgb(27, 254, 17);  
    justify-content: center;  
}

.videoContainer {
    display: flex;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    z-index: 2;
    background: black;
}

button {
    display: flex;
    z-index: 1000;
    margin: 10px;
    padding: 15px;
    background: black;
    color: rgb(27, 254, 17);
    border: 2px solid rgb(27, 254, 17);
}

.playerChoices {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerChoice {
    border: 2px solid black;
    border-radius: 2px;
    margin: 10px;
    font-size: 15px;
    padding: 5px;
    width: auto;
    background-color: white;
    color: black;
}

.contentContainer {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border: 75px solid rgb(222, 218, 191);
    z-index: 4;
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin: 10px;
}

#gameResults {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    color: rgb(27, 254, 17);
    z-index: 1000;
}